<%= form_tag url_for(controller: :options, action: :update), method: :patch do %>

  <h1>Video</h1>
  <%= label_tag :playing_live_video  %>
  <%= hidden_field_tag :playing_live_video, '' %>
  <%= check_box_tag :playing_live_video, 1, @options.playing_live_video ? true : false %>

  <%= label_tag :live_video_url  %>
  <%= text_field_tag :live_video_url,  @options.live_video_url %>

  <h1>Social</h1>

  <%= label_tag :facebook_url  %>
  <%= text_field_tag :facebook_url,  @options.facebook_url %>

  <%= label_tag :twitter_url  %>
  <%= text_field_tag :twitter_url,  @options.twitter_url %>

  <%= label_tag :instagram_url  %>
  <%= text_field_tag :instagram_url,  @options.instagram_url %>
  <%= label_tag :youtube_url  %>
  <%= text_field_tag :youtube_url,  @options.youtube_url %>

    <h1>Current Journey</h1>

    <%= select_tag :current_journey, options_from_collection_for_select(Journey.order(:id), "counter_journey", "name",@options.current_journey) %>

    <h1>URLs</h1>

  <%= label_tag :mas_noticias_url  %>
  <%= text_field_tag :mas_noticias_url,  @options.mas_noticias_url %>

    <%= label_tag :logo_url  %>
    <%= text_field_tag :logo_url,  @options.logo_url %>

    <h1>Names</h1>

    <%= label_tag :tournament_name  %>
    <%= text_field_tag :tournament_name,  @options.tournament_name %>

    <hr>
    <h1>Group Table</h1>

    <%= label_tag :group_table  %>
    <%= hidden_field_tag :group_table, false %>
    <%= check_box_tag :group_table, 1, @options.group_table %>

    <hr>

  <%= submit_tag 'Update' , {class:'btn btn-primary'}%>
<% end %>