<%= form_for [:admin,@journey] do |f| %>
  <% if journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :need_brackets %>
    <%= f.check_box :need_brackets %>
    <%= f.label :brackets_url %>
    <%= f.text_field :brackets_url %>

    <%= f.label :date %>
    <%= f.date_select :date %>

    <%= f.submit %>
  </div>
<% end %>
