<p id="notice"><%= notice %></p>

<h1>Journeys</h1>

<table>
  <thead>
    <tr>
      <th>Semana</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journeys.each do |journey| %>
      <tr>
        <td><%= journey.name %></td>
        <!--<td><%= link_to 'Show', admin_journey_path(journey.id) %></td>-->
        <td><%= link_to 'Edit', edit_admin_journey_path(journey.id) %></td>
        <td><%= link_to 'Destroy', admin_journey_path(journey.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journey', new_admin_journey_path %>
