<%= form_for [:admin, @player] do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :position %>
    <%= f.text_field :position %>
    <%= f.label :logo_url %>
    <%= f.text_field :logo_url %>
    <%= f.label :kda %>
    <%= f.text_field :kda %>
    <%= f.label :active %>
    <%= f.check_box :active %>

    <%= f.collection_select :team_id, Team.all, :id, :name, {:selected => @player.team_id.to_s} %>

    <%= f.submit %>
  </div>
<% end %>
