<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %> | <%= player.team.try(:name) %></td>
        <!--<td><%= link_to 'Show', admin_player_path(player.id) %></td>-->
        <td><%= link_to 'Edit', edit_admin_player_path(player) %></td>
        <td><%= link_to 'Destroy', admin_player_path(player.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_admin_player_path %>
