<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Team a</th>
      <th>Team b</th>
      <th>Date</th>
      <th>Journey</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <!--<td><%= link_to 'Show', admin_match_path(match.id) %></td>-->
        <td><%= match.a_team.try(:name) %> </td>
        <td> <%= match.b_team.try(:name) %> </td>
        <td> <%= match.time.strftime('%c') %> </td>
        <td> <%= match.journey.try(:name) %> </td>
        <td><%= link_to 'Edit', edit_admin_match_path(match.id) %></td>
        <td><%= link_to 'Destroy', admin_match_path(match.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_admin_match_path %>
