<%= form_for [:admin,@team] do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :logo_url %>
    <%= f.text_field :logo_url %>
    <%= f.label :short_name %>
    <%= f.text_field :short_name %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :group %>
    <%= f.collection_select :group_id, Group.all, :id, :name, {:selected => @group.try(:group_id).to_s} %>
    <%= f.submit %>
  </div>
<% end %>
