<%= form_tag url_for(controller: :menus, action: :update), method: :patch do %>

    <% @menus.each do |menu_item| %>
      <%= label_tag menu_item.title %>

        <%= hidden_field_tag "menus[][id]", menu_item.id %>
        <%= text_field_tag  "menus[][title]", menu_item.title%>

        <%= check_box_tag "menus[][active]", 1, menu_item.active %>
        <hr>
    <% end %>

  <div class="actions">
    <%= submit_tag :Editar %>
  </div>
<% end %>