<nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Riot Panel</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse navbar-right">
           <ul class="nav navbar-nav">
             <li><%= link_to 'Menu',edit_admin_menu_path %></li>
             <li><%= link_to 'Groups',admin_groups_path %></li>
             <li><%= link_to 'Teams',admin_teams_path %></li>
             <li><%= link_to 'Players',admin_players_path %></li>
             <li><%= link_to 'Matches',admin_matches_path %></li>
             <li><%= link_to 'Journeys',admin_journeys_path %></li>
             <li><%= link_to 'Articles',admin_articles_path %></li>
             <li><%= link_to 'Calendar',edit_admin_calendar_path %></li>
             <li><%= link_to 'Options', edit_admin_options_path %></li>
             <li><%= link_to 'Texts', edit_admin_texts_path %></li>
             <li><%= link_to 'Log Out', session_path, method: :delete %></li>
           </ul>
         </div><!--/.nav-collapse -->
       </div><!--/.container-fluid -->
</nav>
